.container {
  /*background-image: url("../images/img.jpg");*/
  padding: 5px 30px;
  line-height: 2;
  font-size: 18px;
}
.container-item {
  background: rgba(255, 255, 255, 0.9);
  overflow: auto;
  align-self: center;
  border: deepskyblue 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 15px #2196f3;
  margin: 5px;
  padding: 15px;
  min-height: 200px;
}
h3 {
  text-align: center;
  line-height: 1;
}
.output {
  padding: 5px 5px;
}
img {
  width: 35px;
}
