.img-block {
  color: white;
}

.keys {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  padding-top: 24px;
}

.key {
  margin: 6px;
  font-size: 0.6rem;
  transition: all 0.07s ease;
  width: 3rem;
  text-align: center;
  color: #2a012e;
  font-weight: 600;
}

.playing {
  transform: scale(1.01);
  border-color: #ffc80070;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 0.6rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: #2a012e;
}
