.logo__link {
  height: 90px;
  padding: 5px 30px;
}

.btn13,
.btn-scroll {
  text-transform: uppercase;
  color: #f6f5f5;
  font-size: 18px;
  line-height: 21px;
  transition: all 0.5s;
  border: 2px solid black;
  background-color: black;
}

.btn-scroll {
  margin: 10px;
  border-radius: 5px;
}

.scroll-buttons {
  text-align: center;
}
.trasparent {
  border: 2px solid grey;
  background-color: grey;
}

.btn__menu:hover,
.btn-scroll:hover {
  box-shadow: 0 0 15px #2196f3;
  cursor: pointer;
}

.btn__menu:active,
.btn__menu:focus,
.btn-scroll:active {
  border: 2px #2196f3 solid;
}

.content {
  margin: 110px 30px 30px 30px;
}
